<!-- 
  Learning 2 Domain (questions and answers) HTML generation.
  
  Provides base support for generating HTML from learning2
  interactions.
  
  
  -->
<plugin id="org.dita.learning2.html">
  <require plugin="org.dita.dita13base.html"/>
  <feature extension="dita.xsl.xhtml" value="xsl/learning2domain2html.xsl" type="file"/>  
</plugin>
